.corpo{
    background-color: #0000;
}

.page{
    width: 100%;
    background-color: #0000;
}

.title{
    font-size: 30px;
    margin-left: 3rem;
    margin-top: 4rem;
    color: #fff;
}


.game{
    width: 90%;
    margin-left: 3rem;
    padding: 20px;
        display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 1px solid #242424;
   
}
.gtl{
    font-size: 25px;
    color: #fff;
}

.txtp{
    font-size: 15px;
    color: #fff;
}

.date{
    width: 100%;
    display: flex;
    justify-content: end;
}