.container input:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #0F0F11;
  background-image: url('/assets/background.svg');
  background-repeat: repeat;
  background-size: 100%;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  font-family: "Inter", system-ui;
}

.item2 {
  display: flex;
  flex: 1;
}

.signInHeader {
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  gap: 2rem;
}

.loginLink {
  display: flex;
  justify-content: center;
}

.loginLink a, .checkmark a {
  text-decoration: none;
  color: #ffffff;
}

.loginLink strong, .checkmark strong {
  text-decoration: underline;
}

#prop {
  width: 100%;
  height: 100vh;
}

.formContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.loginLink{
  font-size: 14px;
}

@media (max-width: 1280px) and (min-width: 1024px) {
    .signInHeader{
        font-size: 15px;
    }
    .signInHeader img{
        width: 8%;
    }
    .container{
        gap: 2rem;
    }
}
@media (max-width: 1024px) and (min-width: 860px) and (orientation: portrait) {
    .signInHeader{
        font-size: 15px;
    }
    .signInHeader img{
        width: 5%;
    }
    .container{
        height: fit-content;
        flex-direction: column;
    }
    #prop{
        width: 100%;
    }
    #login_link{
      font-size: 20px;
  }
}

@media (max-width: 860px) and (min-width: 600px) {
    #prop, .item2{
        display: none;
    }
    #login_link h4{
      font-size: 18px;
  }
}

@media (max-width: 600px) and (min-width: 376px) {
    #prop,.item2{
        display: none;
    }
    .container{
        padding: 30px;
    }
}

@media (max-width: 376px) {
    .container{
        padding: 30px;
    }    
    .item2{
        display: none;
    }
    .loginLink h4{
        font-size: 13px;
    }
}