.autors{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 background-color: #070707;
}

.logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo_img{
    width: 35px;
    margin-right: 10px;
}

.map{
    margin-top: 1rem;
}
.txtLink{
    font-size: 14px;
    margin-top: 5px;
}
.txtLinkTitle1{

 }
.txtLinkTitle2{
   color: #4F4E53;
}
.autors_title{
    width: 90%;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;


}
.itenTitle{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.autors_title_git{
    width: 90%;
    height: 6rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    border-top: 1px solid #757474;

}


.itens{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.icon{
    font-size: 30px;
    color: #fff;
}


.txtSub{
    color: #9b9a9e;
}