.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2rem;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkItem{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    position: relative;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo img{
    width: 60%;
}


.list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list li{
 margin-inline: 2rem;
    text-decoration: none;
    color: #ffff;


}
.searchInput{
    width: 300px;
    display: flex;
    background-color: #201F24;
    border-radius: 500px;
    padding: 10px 20px;
    justify-content: flex-start;
    font-size: 18px;
}
.searchInput input{
    border: none;
    padding-left: 20px;
    width: 100%;
}
.userImage{
    border-radius: 50%;
    border: 2px solid #ffff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.activeDot {
    position: absolute;
    top: 130%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }