.body
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url(/assets/background.svg);
    background-size: 100%;
    background-repeat: repeat;
}
.page{
    padding: 20px;
    gap: 1rem;
}
.container
{
    display: flex;
    width: 100%;
    flex: 3;
    gap: 1rem;
}
.latestGamesSlide{
    background: #202020;
    flex: 2.05;
    border-radius: 0.75rem;
}
.latestContent{
    height: 100%;
}
.tipsContainer{
    background: linear-gradient(to right, #6100FF, #3A0099);
    flex: 1;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    color: #fff;
}
.tipsContent{
    gap: 0.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    padding: 50px;
}
.tipsContainer p{
    width: 80%;
    font-size: 30px;
}
.btnAddGame{
    background-color: black;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.75rem;
    transition: all 0.5s ease-in-out;
}
.btnAddGame:hover{
    background-color: #3A0099;
    padding-right: 7px;
    gap: 2.5rem;
    border-radius: 0.75rem;
}
.btnContainer
{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.5;
    gap: 1rem;
}
.tables
{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex: 3;
}
.page{
    display: flex;
    height: 100vh;
    flex-direction:column;
    width: 100%;
}