.body
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url(/assets/background.svg);
    background-size: 100%;
    background-repeat: repeat;
}
.page{
    padding: 20px;
    gap: 1rem;
}
.container
{
    display: flex;
    width: 100%;
    flex: 3;
    gap: 1rem;
}
.latestGamesSlide{
    background: #202020;
    flex: 2.05;
    border-radius: 0.75rem;
    animation: aparecer 0.2s linear;
}
.latestContent{
    height: 100%;
}
.tipsContainer{
    background: linear-gradient(to right, #6100FF, #3A0099);
    flex: 1;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: 200% 200%;
    animation: aparecer 0.5s linear;
    justify-content: space-evenly;
    align-items: start;
    animation-duration: 0.3s;
    color: #fff;
}
@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.tipsContent{
    gap: 0.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    padding: 50px;
}
.tipsContainer p{
    width: 80%;
    font-size: 30px;
}
.btnAddGame{
    background-color: black;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 0.75rem;
    transition: all 0.5s ease-in-out;
}
.btnAddGame:hover{
    background-color: #3A0099;
    padding-right: 7px;
    gap: 2.5rem;
    border-radius: 0.75rem;
}
.btnContainer
{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.5;
    gap: 1rem;
    animation: aparecer 0.4s linear;
}
.tables
{
    background-color: transparent;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex: 3;
    overflow-y: auto;
}
.empresasTable{
    width: 100%;
    flex: 1;
}
.categoriasTable{
    width: 100%;
    flex: 1;
}
.page{
    display: flex;
    height: 100vh;
    flex-direction:column;
    width: 100%;
}