.body
{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url(/assets/background.svg);
    background-size: 100%;
    background-repeat: repeat;
}
.page{
    padding: 20px;
    gap: 1rem;
    display: flex;
    width: 100%;
}
.previewGameContainer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    flex: 1;
    width: 100%;
    border-radius: 20px;
    animation: aparecer 0.3s linear;
}
.previewGameContainer h1{
    width: 100%;
}
.card{
    width: 100%;
}
.formContainer{
    background-color: #111214;
    flex: 1;
    height: 100%;
    border-radius: 20px;
    animation: aparecer 0.5s linear;
}
.contentForm{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/*Loading styles*/

.pageLoading{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #6100FF, #3A0099);
    height: 100vh;
    width: 100%;
    gap: 1rem;
    background-size: 200% 200%;
    justify-content: center;
    align-items: center;
    animation: gradientMove 10s linear infinite;
}
.pageLoading img {
    width: 10%;
}
.pageLoading p
{
    color: #fff;
    font-size: 20px;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes aparecer2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*Game Preview*/

.previewGameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.gamePreview{
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    border-radius: 30px;
}
.previewImage{
    height: 100%;
    display: flex;
    background-color: #3A0099;
    justify-content: end;
    align-items: start;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
    background-position: center;
}
.tag{
    background-color: rgb(233, 213, 255); 
    color: #3A0099;
    padding: 5px 20px;
    border-radius: 10rem;
}
.previewText{
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 20px;
}
.previewText h1
{
    font-size: xx-large;
}

.boa
{
    background-color: #3A0099;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: aparecer2 2s linear ;
}