@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    /* Configurações do modelo de caixa */
    margin: 0;
    padding: 0;
    /* Configurações de tipografia */
    font-family: "Inter", system-ui;
    /* Diversos */
    box-sizing: border-box;
}

body {
    /* Configurações do modelo de caixa */
    width: 100%;
    height: 100%;
    background-color: #0F0F11;
    background-image: url(/assets/images/grid\ 2.svg);
    background-repeat: repeat;
    background-size: 100%;
    /* Configurações de tipografia */
    color: white;
}

section {
    /* Configurações de exibição */
    display: flex;
    justify-content: space-between;
    /* Configurações do modelo de caixa */
    width: 100%;
    height: 100vh;
    padding: 50px;
    /* Diversos */
    gap: 5rem;
}

.forms {
    /* Configurações de exibição */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    /* Configurações do modelo de caixa */
    height: 100%;
}

#titulo {
    /* Configurações de exibição */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Diversos */
    gap: 2rem;
}

form {
    /* Configurações de exibição */
    display: flex;
    flex-direction: column;
}

.inputs {
    /* Configurações do modelo de caixa */
    margin-bottom: 35px;
    padding: 15px;
    border: 3px solid #4F4E53;
    border: none;
    border-radius: 20px;
    background-color: #202020;
    /* Configurações de tipografia */
    font-size: 15px;
    color: #ffffff;
}

#signup {
    /* Configurações de exibição */
    display: flex;
    justify-content: center;
}

button {
    /* Configurações do modelo de caixa */
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: #6100FF;
    /* Configurações de tipografia */
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    /* Diversos */
    cursor: pointer;
}

.Container_google {
    /* Configurações de exibição */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Configurações do modelo de caixa */
    width: 100%;
    /* Diversos */
    gap: 2rem;
}

.loginGoogle {
    /* Configurações de exibição */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Configurações do modelo de caixa */
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    background-color: #ffffff;
    /* Configurações de tipografia */
    color: #000000;
}

.loginGoogle img {
    /* Configurações do modelo de caixa */
    width: 10%;
}
