.Games{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Containerimg{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img{
    width: 80%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    background-size: cover;
    background-image: url(https://i.ytimg.com/vi/0IJF5HczQoU/maxresdefault.jpg);
}

.detalhe{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itens{
    width: 80%;
    display: flex;
    flex-direction: column;

}

.txt{

    margin-top: 1rem;
}

.btn{
    margin-top: 2rem;
}

/* From Uiverse.io by barisdogansutcu */ 
.button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: rgb(29, 25, 25);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 1px 8px 0px;
  }
  
